* {
  box-sizing: border-box;
}
body {
  background-color: RGB(255, 255, 255);
  display: grid;
  grid-template-columns: 20% 80%;
  row-gap: 8px;
  column-gap: 8px;
  margin: 8px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  justify-content: center;
}
header,
aside,
main,
footer {
  background-color: RGB(181, 216, 255);
  border-radius: 3px;
  padding-left: 10px;
}
header {
  grid-area: header;
}
aside ul a {
  text-decoration: none;
  color: RGB(85, 40, 136);
}
aside ul {
  list-style: none;
  padding-left: 0;
  align-self: flex-start;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
aside,
main {
  display: flex;
  flex-direction: column;
}
main ul {
  margin-top: 5px;
  display: inline-block;
}
main ul a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
}
